<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Renit</title>
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/75661cd8ec.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/andreysite.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>
<body>

<nav id="nc" class="navbar navbar-expand-lg bg-litght navbar-light " >
  <a class="navbar-brand" href="#">
    <img src="img/1.PNG" alt="Logo" style="width:150px; margin-left:20%;">
   </a>
<!--<div id="hid" class="col-6 col-sm-8 col-md-9 col-lg-10 justify-content-end ">
	<a style="color:#b89c4f; font-family: Century Gothic; font-size: 1em;" href="#" >MY FAVORITES</a>
	<a style="margin-left: 20px; color:#b89c4f; " href="#">LOGIN/REGISTER</a></div>-->
   <button id="gg"  class="f" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span> </span>
     </button>

 <div  class="collapse navbar-collapse justify-content-end" id="navbarNav">
   <ul  class="navbar-nav" >
     <li class="nav-item">
		 <a class="nav-link text-dark"  href="#"><p class="hat1" style="">ABOUT US</p></a>
     </li>
     <li class="nav-item">
		 <a class="nav-link text-dark" href="#"><p class="hat1" style="">APARTMENTS</p></a>
     </li>
     <li class="nav-item">
		 <a class="nav-link text-dark" href="#"><p class="hat" style="">APPLICATION</p></a>
     </li>
     <li class="nav-item">
		 <a class="nav-link text-dark"  href="#"><p class="hat1" style="">MAKE A PAYMENT</p></a>
   </li>
   <li class="nav-item">
	   <a class="nav-link text-dark"  href="#"><p class="hat1" style="">CONTACT US</p></a>
   </li>
   <li  class="nav-item">
	   <a class="nav-link text-dark" href="#"><p class="hat" style="">MY FAVORITES</p></a>
   </li>
   <li  class="nav-item">
	   <a class="nav-link text-dark" href="#"><p class="hat1" style="color: #BFAC82">LOGIN/REGISTER</p></a>
   </li>
   </ul>
 </div>
</nav>
<div id="k" class="row justify-content-center" style="">
  <div class="col-12">
<h2 class="ten">CONGRATULATIONS</h2>
  </div>
  <div  class="col-12 text-white">
    <p id="con">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor </p>
</div>
<div class="col-6 col-md-3 col-lg-3">
  <h3 class="ten" style="">
    TENANT APPLICATION
  </h3>
</div>
<div class="col-6  col-md-3 col-lg-3">
  <h3 class="den">
	  GUARANTOR APPLICATION
  </h3>
</div>
</div>
<div class="row justify-content-center" style="margin-top:3%;">
  <div class="col-12" style="text-align:center;">
    <h2>HOW IT WORK</h2>
    <p style="margin-top: 10px; font-size: 1.1em; color: #BFAC82;">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
		</p>
  </div>
  <div id="lol" class="col-lg-3 col-6  justify-content-center">
<img src="img/3.PNG" alt="">
<p id="cc">FORMS & DOCS</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut</p>
  </div>
  <div id="lol1" class="col-lg-3  col-6 justify-content-center">
<img src="img/4.PNG" alt="">
<p id="cc">DEPOSITS</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut</p>
  </div>
  <div id="lol" class="col-lg-3 col-6   justify-content-center">
<img src="img/5.PNG" alt="">
<p id="cc">CREDIT CHECK</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut</p>
  </div>
  <div id="lol1" class="col-lg-3  col-6 justify-content-center" style="border-right: 1px solid white;">
<img src="img/6.PNG" alt="">
<p id="cc">FAST & SECURE</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut</p>
  </div>
</div>
<div  class="row " style="">
        <div id="wr" class="align-items-center col-12  col-xl-6 col-lg-6 text-white"  >
          <h4 style="text-align:left; margin: 60px 50px 20px 50px; font-family: Century Gothic;">Doucuments needed  for<br> 
															GUARANTOR APPLICATION Relax!</h4>
          <p style='text-align:left; margin: 0px 150px 30px 50px; font-family: Century Gothic;'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        </p>
        
      <div  class=" col-8 col-sm-4 ">
        <h3 class="del">TENANT APPLICATION</h3>
  </div>
        
      </div>
  <div id="rr" style="height:380; background-color: lightgray;" class="col-12  col-xl-6 col-lg-6 ">
<div class="row" style="margin-left: 20px;">
    <div class="col-12">
    <h4 style="margin-top: 30px; margin-bottom: 20px;">YOU WILL NEED</h4>
    </div>
    <div id="po" class="col-lg-6 col-12">
<p style="margin-left:0px;"><img src="img/9.PNG" alt=""> &nbsp; Applicants name</p>
<p style="margin-left:0px;"><img src="img/9.PNG" alt=""> &nbsp; Image of legal photo ID</p>
<p style="margin-left:0px;"><img src="img/9.PNG" alt=""> &nbsp; Current Address</p>
<p style="margin-left:0px;"><img src="img/9.PNG" alt=""> &nbsp; 3 Recent Pay Stubs</p>
	</div>
<div id="po" class="col-lg-6 col-12">
	<p><img id="po" src="img/9.PNG" alt=""> &nbsp; Date of Birth</p>
	<p><img src="img/9.PNG" alt=""> &nbsp; Social Security Number</p>
<p><img src="img/9.PNG" alt=""> &nbsp; Proof of last years total income <br> &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  (W2,1099, or Tax Return)</p>
	  </div>
<div class="col-12">
<p class="bn">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation
</p>
</div>
  </div>
</div>
<div id="rt"  class="col-12  col-xl-6 col-lg-6" >
<div class="row" style="height:380px; ">
  <div class="col-12">
  <h5 class="rt" style="">If you do have a co-signer, the co-signer will need to complete 
two more steps:</h5>
  </div>	
  <div id="po" class="col-lg-6 col-12">
<p><img src="img/9.PNG" alt=""> &nbsp; Current Address</p>
<p><img src="img/9.PNG" alt=""> &nbsp; Co-signer`s Name</p>
<p><img src="img/9.PNG" alt=""> &nbsp;Social Security Number</p>
	</div>
<div id ="po1" class="col-lg-6 col-12">
	<p><img id="po" src="img/9.PNG" alt=""> &nbsp; Date of Birth</p>
	<p><img src="img/9.PNG" alt=""> &nbsp; Imagine of legal photo ID</p>
	  </div>
<div class="col-12">
<p class="nb" style="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. 
</p>
</div>
</div>
</div>
<div id="wl" class="col-12 col-xl-6 col-lg-6  text-white" style="height:380px;" >
          <h4 style="text-align:left; margin: 60px 50px 20px 50px; font-family: Century Gothic;">Doucuments needed  for<br> 
		Tenetn APPLICATION</h4>
          <p style='text-align:left; margin: 0px 150px 30px 50px; font-family: Century Gothic;'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        </p>
      <div class="col-8 col-sm-4 ">
        <h3 class="dr" >GUARANTOR APPLICATION</h3>
  </div>
        </div>
		</div>
<div id="td" class="row" style="padding-left: 20px; background-color:#BFAC82">
  <div style="margin-bottom: -10px;"  class="text-dark col-12 col-xl-9 col-lg-9 " >
    <p id="vc" > Dont see the Apartments you were looking for? Help us out by suggesting!</p>
  </div>
  <div class="col-lg-3 col-xl-3 col-6 col-sm-4 col-md-4 ">
    <p  class="gg" >FIND APARTMENTS</p>
</div>
  </div>
<div id="la" class="row  align-items-center text-light bg-dark" >
  <div  id="dd" class="col-sm-6 col-md-3 col-lg-3 col-11" >
<img id="yu" src="img/1.PNG" height="45" width="100" style="">
<p id="yu" style="">Copyright 2019 Rennit NYC, All Rights Reserved</p>
  </div>

  <div id="ha" class="col-sm-6 col-md-3 col-lg-3 col-11">
	  <p>APARTMENTS<br> 
	  APPLICATION<br> 
	  MAKE A PAYMENT<br> 
	  CONTACT US</p>
  </div>
  <div  id="hi"  class="col-sm-3 col-md-3 col-lg-3 col-12">
  <div id="yu"><a href="#">  APARTMENTS</a><a href="#"> <br>
	  APPLICATION</a></div>
  </div>
  <div id="hi"  class="col-sm-3 col-md-3 col-lg-3 col-12">
    <div id="yu"><a href="#">MAKE A PAYMENT</a><a href="#"> <br>
		CONTACT US</a></div>
  </div>

  <div id="dd" class="col-sm-6  col-md-3 col-lg-3 col-11" >
    <div id="yu">
     <a href="#"><p class="g"> Email:Moishe@Rennit.nyc <br>
		 Phone:347.598.3934</p></a></div>
    <img src="img/2..png" class="lk" width="160" height="40" style="">
  </div>

  <div id="dd" class="col-sm-6 col-md-3 col-lg-3 col-11">
<div id="yu">
	<p style="font-family: Century Gothic; font-size: 1em; margin-left: 0;">NEWSLETTER SUBCRIPTION</p></div>
<input id="yu" type="text" placeholder="ADDRESS" class="form-control form-control-md" style="width: 170px; height: 50px;"><p><a class="q"></a></p>
  </div>
</div>
</body>
</html>
