#lol{
  margin: 50px 0;
  text-align: center;
	border-right: 1px solid gray;
}
#lol1 {
margin: 50px 0;
text-align: center;
width:100px; 
border-right: 1px solid gray;
	}

#hi{
  display: none;
}
#hid{
  display: none;
}
#dd{
  font-size: 1em;
}
#la{
  height: 170px;
}
p{
  font-size: 0.9em;
}
body *{
  font-family: Calibri, sans-serif;
}
#con{
  color: #FFFFFF;
  font-family: Century Gothic;
  font-size: 18px;
  letter-spacing: 0;
  margin-left: 20%;
  margin-right: 20%;
	text-align: center;
	margin-top: -70px;
}
p.po {
	font-size: 1.2em;
	font-family: Century Gothic;
	color: aqua;
}
p {
	margin: 20px;
}
p.nb {
	margin-left:0px; 
	margin-right: 60px;
	margin-top: 20px;
	font-family: Century Gothic;
	font-size: 1em;
}
p.bn {
	margin-right: 60px;
	margin-left: 0px;
	font-family: Century Gothic;
	font-size: 1em;
	
}
img.lk{
margin-left: 20px; margin-top: -10px;
}
h3.ten {
	background-color: #fafafa; 
	text-align:center; 
	border-radius: 5px; 
	padding: 15px 15px 15px 15px;  
	font-size: 1em; 
	color: #000000;
	margin-top: -50px;
}
h3.ten:hover {
	background-color: black; 
	text-align:center; 
	border-radius: 5px; 
	padding: 15px 15px 15px 15px;  
	font-size: 1em; 
	color: white;
	margin-top: -50px;
}

h3.den {
	background-color: #BFAC82;; 
	text-align:center;  
	border-radius: 5px; 
	padding:15px 25px 15px 25px; 
	font-size: 1em; 
	color: #fafafa;
	margin-top: -50px;
	
}
h3.den:hover {
	background-color: black; 
	text-align:center;  
	border-radius: 5px; 
	padding:15px 25px 15px 25px; 
	font-size: 1em; 
	color: wheat;
	margin-top: -50px;
	
}
h3.del {
	text-align: center; 
	background-color: white; 
	margin-left:30px;
	margin-right: -10px;
	border-radius: 5px; 
	font-size: 0.8em; padding:15px 15px 15px 15px;  
	color: black;
	font-family: Century Gothic;
}
h3.del:hover {
	text-align: center; 
	background-color: black; 
	margin-left:30px;
	margin-right: -10px;
	border-radius: 5px; 
	font-size: 0.8em; padding:15px 15px 15px 15px;  
	color: white;
	font-family: Century Gothic;
}
h2.ten {
  color: #EBDA94;
  font-family: Century Gothic;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 70px;
  text-align: center;}

#nc{
  font-size: 0.9em;
  font-weight:normal;
   justify-content:
    space-between;
}
p.hat {
	color: #EBDA94;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: -10px;
	border-align: bottom;
	height: 90px;
	padding-top: 30px;
}
p.hat:hover {
	color: #EBDA94;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: -10px;
	border-bottom: 7px solid #EBDA94;
	border-align: bottom;
	
}
p.hat1 {
	color:black;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: -10px;
	border-align: bottom;
	height: 90px;
	padding-top: 30px;
}
p.hat1:hover {
	color: #EBDA94;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: -10px;
	border-bottom: 7px solid #EBDA94;
	border-align: bottom;
	
}
p.hat2 {
	color:#786720;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: -10px;
	height: 90px;
	padding-top: 30px;
	
}
p.hat2:hover {
	color: #EBDA94;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: -10px;
	border-bottom: 7px solid #EBDA94;
	
	
}
#navbarNav {
	height: 100px;
}
i{
  border-radius: 100%;
  padding:5px;

  background-color: #ffffff;
}

.f{
  background-image: url(img/menu.png);
}
a.q{
	background-image: url(img/10.PNG);
	display: block; 
	margin-left: 140px; 
	margin-top: -51px;
	height: 51px;
	width: 50px;
}
a.q:hover{
	background-image: url(img/11.PNG);
	display: block; 
	margin-left: 140px; 
	margin-top: -51px;
	height: 51px;
	width: 50px;
}
p.g {
	color: white;
	font-size: 1em;
	margin-left: 0px;
	font-family: Century Gothic;
}
#gg{
  height: 30px; width:30px;
  display: none;
}
.gg{
    padding:15px 15px 15px 15px;
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#po{
	font-size: 1.2em;
	font-family: Century Gothic;
}
#po1{
	font-size: 1.2em;
	font-family: Century Gothic;
}
h3.dr{
	text-align: center; 
	background-color: lightyellow; 
	border-radius: 5px; 
	font-size: 1em; 
	padding: 10px 20px; 
	text-align: center; 
	color: #C59900;
	margin-left: 30px;
	margin-right: -95px;
}
h3.dr:hover{
	text-align: center; 
	background-color: black; 
	border-radius: 5px; 
	font-size: 1em; 
	padding: 10px 20px; 
	text-align: center; 
	color: wheat;
	margin-left: 30px;
	margin-right: -95px;
}
p.gg {
	text-align: center; 
	background-color: white;
	width: 180px;
	height: 40px;
	border-radius: 5px;  
	color: black;
	margin-top: 15px;
	padding-top: 10px;
	font-size: 1em;
	font-family: Century Gothic;
}
#k {
	height: 450px; 
	background-image: url(img/image1.jpg); margin-top: -20px;
	}
p.gg:hover {
	text-align: center; 
	background-color: black;
	width: 180px;
	height: 40px;
	border-radius: 5px;  
	color: white;
	margin-top: 15px;
	padding-top: 10px;
	font-size: 1em;
	font-family: Century Gothic;
}
h5.rt {
	margin-left: 20px;
}
#yu {
	font-size: 0.8em; 
	margin-left: 40px; 
	margin-top: 10px;
}
p.ha {
	font-family: Century Gothic;
}
p.nb {
	margin-top: -30px;
	margin-left: 20px;
}
p.g {
	margin-left: -20px;
	font-family: Century Gothic;
	
}
i.yu {
	margin-left: -20px;
}
#vc{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 0.8em;
  font-family: Century Gothic;
	

}
h5.rt {
margin-top: 30px; 
margin-right: 60px; 
margin-bottom: -20px;
}
#td{
  height:80px;
}
#cc{
  font-weight: normal; font-size: 20px;
}
#wr{
  background-image: url(img/desk.jpg);
  height: 380px;}
#wl{
    background-image: url(img/desk.jpg);
    height: 300px;}
@media all and (max-width: 1220px){

  .gg{
    margin-top: 10px;

  }
  #nc{
    font-size: 0.9em;
}
@media all and (max-width: 1120px){
  #nc{
    font-size: 0.8em;
    font-weight:normal;
  }

}
@media all and (max-width: 991px){
  #vc{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 0.85em;
  }
 #rr{
    display: none;
	 background-color: darkgrey;
  }
#dd{
  font-size: 0.8em;
}
#ha{
  font-size: 0.8em;
}
#hi{
  font-size: 0.8em;
}
	#lol {
		border-right: 1px solid gray;
	}
	#lol1 {
		width:100px; 
		border-right: 
		1px solid white;
	}
	#k {
		height: 450px; background-image: url(img/image1.jpg); margin-top: 0px;
	}
	#navbarNav {
		height: 300px;
	}
	#rt {
		height: 400px;
	}
	#ha {
		margin-left: 20px;
	}
h5.rt {
margin-top: 30px; 
margin-right: 30px; 
margin-bottom: 0px;
}
	img.lk{
		margin-left: 20px; margin-top: -10px;
	}
	p.g {
		margin-left: 0px;
	}
p.hat {
	color: #EBDA94;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: 0px;
	height: 10px;
	padding-top: 0px;
    text-align: right;
}
	p.nb {
		margin-top: 0;
	}
p.hat:hover {
	color: #EBDA94;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: 0px;
	border: hidden;
	
}
p.hat1 {
	color:black;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: 0px;
	height: 10px;
	padding-top: 0px;
	text-align: right;

}
p.hat1:hover {
	color: #EBDA94;
	font-family: Century Gothic;
	font-size: 1em;
	margin-right: 0px;
	border: hidden;

	
}
  .gg{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 0.85em;
  }

  #gg{
    display: inline-flex;
  }
  #hid{
    display: inline-flex;
  }
  #fo{
    display: none;
  }
  #td{
    height:90px;

  }
}
@media all and (max-width: 960px){
  #con{
    font-size: 0.9em;
    margin-right: none;
    margin-left: none;
  }

  }
@media all and (max-width: 768px){
  #ha{
    display: none;
  }

  #hi{
    display: flex;
  }
}
@media all and (max-width: 700px){
  .gg{
    margin-top: 0;
    font-size: 0.75em;
  }
}
@media all and (max-width: 680px){
  #td{
  height:95px;
}
 .gg{

    font-size: 0.63em;
  }
}

@media all and (max-width: 576px){
  #vc{
    margin-left: 20px;
    font-size: 0.63em;
  }
  #hid{
    font-size: 0.85em;
  }
  
  #yu{
    margin-left:20px;
  }
  #la{
    height: 400px;
  }
  .gg{

    font-size: 0.63em;
  }
}
@media all and (max-width: 490px){
#hid{
    font-size: 0.6em;
  }
}